div {
	padding-top: 10px;
}

.tabs {
	display: inline-block;
    width: 500px;
    margin: 25px 0px 0px 100px;
}


.selectors {
	margin: 0px;
	padding: 0px;
}

.selectors:after {
	content: "";
	display: block;
	clear: both;
	height: 2px;
	background: #FF8A4F;
}

.selectors li {
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	display: block;
	float: left;
	padding: 10px 15px;
	background: #e9eaeb;
	color: #707070;
}

.selectors li.active, .selectors li.active:hover {
	background: #FF8A4F;
	color: #fff;
    transition-property: background;
    transition-duration: 1.5s;
}

.selectors ul li:hover {
	background: #d6d6d7;
}
