*{
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    color: black;
}

.content {
    text-align: center;
    margin-top: 100px;
}

.timer {
}

#hours, #minutes, #seconds,#milliseconds {
    font-size: 40px;
}

.buttons {
    width: 350px;
    margin: 20px auto;
}

.info {
    text-align: center;
}

.info p {
    font-size: 30px;
}
