@font-face {
    font-family: 'montserratregular';
    src: url('../../build/fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../../build/fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../../build/fonts/Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}