@font-face {
    font-family: 'montserratbold';
    src: url('../../build/fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../../build/fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../../build/fonts/Montserrat-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}