@font-face {
    font-family: 'robotothin';
    src: url('../../build/fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../../build/fonts/roboto-thin-webfont.woff') format('woff'),
         url('../../build/fonts/Roboto-Thin.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}